.detail{
    margin: 5%;
    border: 1px solid #ccc; /* Border around the box */
    text-align:left;
    font-size: 120%;
    border-radius: 8px;
    padding: 20px; /* Padding inside the box */
    width: 600px;
    background-color: #f0f0f0; /* Background color of the box */
    height: fit-content;
    overflow-wrap: break-word;
}
.home_detail{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading_detail{
    margin-top: 0%;
}

.details_box{
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc; /* Border around the box */
    text-align: left;
    border-radius: 8px;
    padding-top: 0;
    padding-left: 0;
    padding-right: 10%;
    background-color: #F6F193; /* Background color of the box */
    height: fit-content;
}