.home_list{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading_list{
    margin-top: 0%;
}

.phones_and_processors{
    display: flex;
    flex-direction: row;
    gap:10cm;
}

.add_button{
    border-radius: 8px;
    width: 300px;
    height: 70px;
    font-size: large;
    font-weight: bold;
}

.list{
    margin-top: 5%;
    border: 1px solid #ccc;
    background-color: #C5EBAA;
    height: 15.7cm;
    overflow-y: auto;
    padding: 3px;
    padding-left: 1%;
    padding-right: 6.3%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-left: 5%;
    border-radius: 8px;
    align-items: center;
}