.login_form{
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.2cm;
    border-radius: 8px;
    padding: 20px;
}

.page{
    display:flex;
    flex-direction: column;
    align-items: center;
    position:fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.register{
    margin-top: 0px;
}

input{
    border-radius: 8px;
    height: 30px;
}

button{
    border-radius: 8px;
    height: 40px;
    width: 70px;
}