.edit_fields{
    display: flex;
    gap: 50px;
}

.new{
    border: 1px solid #ccc; /* Border around the box */
    text-align:start;
    color: black;
    border-radius: 8px;
    padding: 10px; /* Padding inside the box */
    background-color: #F2C18D; /* Background color of the box */
    height: 30px;
}

.field{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.form{
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc; /* Border around the box */
    text-align: center;
    align-items: center;
    border-radius: 8px;
    padding: 130px; /* Padding inside the box */
    padding-top: 5%;
    padding-bottom: 30%;
    background-color: #F6F193; /* Background color of the box */
    height: 30px;
    width: 1400px;
}

h1{
    margin-left: 10px;
}